<div class="md-p-50 xs-p-20">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-bold">Gray Based Color</h1>
            <div class="xs-p-20 bg-white shadow radius">
            <div class="gray-base">&nbsp;</div>gray-base
            <div class="gray-darker">&nbsp;</div>gray-darker
            <div class="gray-dark">&nbsp;</div>gray-dark
            <div class="gray">&nbsp;</div>gray
            <div class="gray-light">&nbsp;</div>gray-light
            <div class="gray-lighter">&nbsp;</div>gray-lighter
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-bold">Button</h1>
            <div>
                <p>Large Button <strong>"btn-lg"</strong></p>
                <button class="btn btn-lg btn-primary">btn-primary</button>
                <button class="btn btn-lg btn-info">btn-info</button>
                <button class="btn btn-lg btn-warning">btn-warning</button>
                <button class="btn btn-lg btn-success">btn-success</button>
                <button class="btn btn-lg btn-danger">btn-danger</button>
                <br><br>
                <p>Default Button <strong>"btn"</strong></p>
                <button class="btn btn-default">btn-default</button>
                <button class="btn btn-primary">btn-primary</button>
                <button class="btn btn-info">btn-info</button>
                <button class="btn btn-warning">btn-warning</button>
                <button class="btn btn-success">btn-success</button>
                <button class="btn btn-danger">btn-danger</button>
                <br><br>
                <p>Medium Button <strong>"btn-sm"</strong></p>
                <button class="btn btn-sm btn-primary">btn-primary</button>
                <button class="btn btn-sm btn-info">btn-info</button>
                <button class="btn btn-sm btn-warning">btn-warning</button>
                <button class="btn btn-sm btn-success">btn-success</button>
                <button class="btn btn-sm btn-danger">btn-danger</button>
                <br><br>
                <p>Small Button <strong>"btn-xs"</strong></p>
                <button class="btn btn-xs btn-primary">btn-primary</button>
                <button class="btn btn-xs btn-info">btn-info</button>
                <button class="btn btn-xs btn-warning">btn-warning</button>
                <button class="btn btn-xs btn-success">btn-success</button>
                <button class="btn btn-xs btn-danger">btn-danger</button>
                <br><br>

                <p>Disabled Button <strong>"btn disabled"</strong></p>
                <button class="btn btn-primary disabled">btn-primary</button>
                <button class="btn btn-info disabled">btn-info</button>
                <button class="btn btn-warning disabled">btn-warning</button>
                <button class="btn btn-success disabled">btn-success</button>
                <button class="btn btn-danger disabled">btn-danger</button>
                <br><br>

                <p>Button Outline <strong>"btn-outline"</strong></p>
                <button class="btn btn-outline btn-white">btn-white</button>
                <button class="btn btn-outline btn-default">btn-primary</button>
                <button class="btn btn-outline btn-primary">btn-primary</button>
                <button class="btn btn-outline btn-info">btn-info</button>
                <button class="btn btn-outline btn-warning">btn-warning</button>
                <button class="btn btn-outline btn-success">btn-success</button>
                <button class="btn btn-outline btn-danger">btn-danger</button>
                <br><br>

                

                <p>Disabled Button Outline <strong>"btn-outline disabled"</strong></p>
                <button class="btn btn-outline btn-primary disabled">btn-primary</button>
                <button class="btn btn-outline btn-info disabled">btn-info</button>
                <button class="btn btn-outline btn-warning disabled">btn-warning</button>
                <button class="btn btn-outline btn-success disabled">btn-success</button>
                <button class="btn btn-outline btn-danger disabled">btn-danger</button>


            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-bold">Button with badge</h1>

            <p>Default Button <strong>"btn"</strong></p>
            <button class="btn btn-primary">btn-primary <span class="badge">1</span></button>
            <button class="btn btn-info">btn-info <span class="badge">1</span></button>
            <button class="btn btn-warning">btn-warning <span class="badge">1</span></button>
            <button class="btn btn-success">btn-success <span class="badge">1</span></button>
            <button class="btn btn-danger">btn-danger <span class="badge">1</span></button>
            <br><br>

            <p>Button Outline <strong>"btn-outline"</strong></p>
            <button class="btn btn-outline btn-primary">btn-primary <span class="badge">1</span></button>
            <button class="btn btn-outline btn-info">btn-info <span class="badge">1</span></button>
            <button class="btn btn-outline btn-warning">btn-warning <span class="badge">1</span></button>
            <button class="btn btn-outline btn-success">btn-success <span class="badge">1</span></button>
            <button class="btn btn-outline btn-danger">btn-danger <span class="badge">1</span></button>
            <br><br>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-bold">Text</h1>
            <div>
                <h1>h1. Sample heading</h1>
                <h2>h2. Sample heading</h2>
                <h3>h3. Sample heading</h3>
                <h4>h4. Sample heading</h4>
                <h5>h5. Sample heading</h5>
                <h6>h6. Sample heading</h6>
            </div><hr>
            <h1 class="text-bold">Text small</h1>
            <h1>h1. Bootstrap heading <small>Secondary text</small></h1>
            <h2>h2. Bootstrap heading <small>Secondary text</small></h2>
            <h3>h3. Bootstrap heading <small>Secondary text</small></h3>
            <h4>h4. Bootstrap heading <small>Secondary text</small></h4>
            <h5>h5. Bootstrap heading <small>Secondary text</small></h5>
            <h6>h6. Bootstrap heading <small>Secondary text</small></h6>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-bold">Text color</h1>
            <div>
                <p class="text-black"><strong>"text-black"</strong> sample text sample text</p>
                <p class="text-grey"><strong>"text-grey"</strong> sample text sample text</p>
                <p class="text-white"><strong>"text-white"</strong> sample text sample text</p>
                <p class="text-primary"><strong>"text-primary"</strong> sample text sample text</p>
                <p class="text-info"><strong>"text-info"</strong> sample text sample text</p>
                <p class="text-warning"><strong>"text-warning"</strong> sample text sample text</p>
                <p class="text-success"><strong>"text-success"</strong> sample text sample text</p>
                <p class="text-danger"><strong>"text-danger"</strong> sample text sample text</p>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-bold">Background Color color</h1>
            <div>
                <p class="bg-primary"><strong>"bg-primary"</strong></p>
                <p class="bg-info"><strong>"bg-info"</strong></p>
                <p class="bg-warning"><strong>"bg-warning"</strong></p>
                <p class="bg-success"><strong>"bg-success"</strong></p>
                <p class="bg-danger"><strong>"bg-danger"</strong></p>
                <p class="bg-white"><strong>"bg-white"</strong></p>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-bold">Text Weight</h1>
            <div>
                <p class="text-black text-bold"><strong>"text-bold"</strong> sample text sample text</p>
                <p class="text-black"><strong>"text-default"</strong> sample text sample text</p>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-bold">Font Awesome</h1>
            <a href="http://fontawesome.io/icons/">Documentation here</a>
            <br>
            <i class="fa fa-user"></i>
            <i class="fa fa-check"></i>
            <i class="fa fa-close"></i>
            <i class="fa fa-male"></i>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-bold">Form</h1>
            <form>
              <div class="form-group">
                <label>Input Small</label>
                <input type="password" class="form-control input-sm" placeholder="Password">
                <p class="help-block">Example block-level help text here.</p>
              </div>
              <div class="form-group">
                <label>Input default</label>
                <input type="email" class="form-control" placeholder="Email">
              </div>
              <div class="form-group">
                <label>Input Large</label>
                <input type="password" class="form-control input-lg" placeholder="Password">
              </div>
              <div class="form-group">
                    <label>Input Disabled</label>
                    <input class="form-control" type="text" placeholder="Disabled input here..." disabled>
                </div>
            </form>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-bold">Input Group</h1>
            <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">$</div>
                  <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                  <div class="input-group-addon">.00</div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">$</div>
                  <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-lg">
                  <div class="input-group-addon">$</div>
                  <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-sm">
                  <div class="input-group-addon">$</div>
                  <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-bold">Textarea</h1>
            <form>
              <div class="form-group">
                <label>label</label>
                <textarea class="form-control" placeholder="textarea" rows="3"></textarea>
                <p class="help-block">Example block-level help text here.</p>
              </div>
            </form>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-bold">Select</h1>
            <form>

                <div class="form-group">
                    <label>Select</label>
                    <div class="select">
                        <span class="caret"></span>
                        <select class="form-control input-lg">
                          <option>Select</option>
                          <option>Select</option>
                          <option>Select</option>
                          <option>Select</option>
                          <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Select</label>
                    <div class="select">
                        <span class="caret"></span>
                        <select class="form-control inline">
                          <option>Select</option>
                          <option>Select</option>
                          <option>Select</option>
                          <option>Select</option>
                          <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Select</label>
                    <div class="select">
                        <span class="caret"></span>
                        <select class="form-control input-sm">
                          <option>Select</option>
                          <option>Select</option>
                          <option>Select</option>
                          <option>Select</option>
                          <option>Select</option>
                        </select>
                    </div>
                </div>

                <fieldset disabled>
                    <div class="form-group">
                        <div class="form-group">
                          <label>Select Disabled</label>
                          <div class="select">
                              <span class="caret"></span>
                              <select class="form-control">
                                <option>Disabled select</option>
                              </select>
                          </div>
                        </div>
                    </div>
                </fieldset>

            </form>
        </div>
    </div>
    <hr>


    <div class="row">
        <div class="col-md-12">
            <h1 class="text-bold">Checkbox & Radio</h1>

            <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    <span>Default Checkbox</span>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="" checked>
                    <span>Checkbox Checked</span>
                  </label>
                </div>

                <div class="checkbox disabled">
                  <label>
                    <input type="checkbox" value="" disabled>
                    <span>Default Disabled</span>
                  </label>
                </div>
            </div>

            <div class="form-group">
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    <span>Option one is this and that&mdash;be sure to include why it's great</span>
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    <span>Option two can be something else and selecting it will deselect option one</span>
                  </label>
                </div>
                <div class="radio disabled">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                    <span>Option three is disabled</span>
                  </label>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-bold">Form State</h1>
            

            <br>
            <div class="form-group has-success">
              <label class="control-label">Input with success</label>
              <input type="text" class="form-control" value="test value">
              <span class="help-block small">A block of help text that breaks onto a new line and may extend beyond one line.</span>
            </div>

            <div class="form-group has-warning">
              <label class="control-label">Input with warning</label>
              <input type="text" class="form-control" value="test value">
              <span class="help-block small">A block of help text that breaks onto a new line and may extend beyond one line.</span>
            </div>

            <div class="form-group has-error">
              <label class="control-label">Input with error</label>
              <input type="text" class="form-control" value="test value">
              <span class="help-block small">A block of help text that breaks onto a new line and may extend beyond one line.</span>
            </div>

            <div class="form-group has-success has-feedback">
              <label class="control-label">Input with success + icon</label>
              <input type="text" class="form-control" value="test value">
              <span class="form-control-feedback fa fa-check"></span>
              <span class="sr-only">(success)</span>
            </div>

            <div class="form-group has-error has-feedback">
              <label class="control-label">Input with error + icon</label>
              <input type="text" class="form-control" value="test value">
              <span class="form-control-feedback fa fa-close"></span>
              <span class="sr-only">(success)</span>
            </div>

            <div class="has-success">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="option1">
                  <span>Checkbox with success</span>
                </label>
              </div>
            </div>
            <div class="has-warning">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="option1">
                  <span>Checkbox with warning</span>
                </label>
              </div>
            </div>
            <div class="has-error">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="option1">
                  <span>Checkbox with error</span>
                </label>
              </div>
            </div>

            <div class="has-success">
                <div class="radio">
                  <label>
                    <input type="radio">
                    <span>Radio with success</span>
                  </label>
                </div>
            </div>
            <div class="has-warning">
                <div class="radio">
                  <label>
                    <input type="radio">
                    <span>Radio with warning</span>
                  </label>
                </div>
            </div>
            <div class="has-error">
                <div class="radio">
                  <label>
                    <input type="radio">
                    <span>Radio with error2</span>
                  </label>
                </div>
            </div>



        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-bold">Alert</h1>
                <div class="alert alert-success">Alert Success</div>
                <div class="alert alert-info">Alert Info</div>
                <div class="alert alert-warning">Alert Waning</div>
                <div class="alert alert-danger">Alert Danger</div>
                <div class="alert alert-primary">Alert Primary</div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-bold">Alert Circle</h1>
                <div class="alert-circle alert-success">
                    <i class="fa fa-check"></i>
                </div>
                <div class="alert-circle alert-info">
                    <i class="fa fa-lightbulb-o"></i>
                </div>
                <div class="alert-circle alert-warning">
                    <i class="fa fa-exclamation"></i>
                </div>
                <div class="alert-circle alert-danger">
                    <i class="fa fa-close"></i>
                </div>
                <div class="alert-circle alert-primary">
                    <i class="fa fa-heart"></i>
                </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-bold">Sweet Alert</h1>
            <button class="btn btn-info" ng-click="sweetAlert('info')">Alert Info "info" </button>
            <button class="btn btn-warning" ng-click="sweetAlert('warning')">Alert Warning "warning"</button>
            <button class="btn btn-success" ng-click="sweetAlert('success')">Alert Success "success"</button>
            <button class="btn btn-danger" ng-click="sweetAlert('error')">Alert Danger "error"</button>

            <br><br>
            <a class="link" href="https://limonte.github.io/sweetalert2/"> Documentation Here</a>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-bold">Notify "Ng Toast"</h1>
            <button class="btn btn-primary" ng-click="notify('primary')">Notify Primary</button>
            <button class="btn btn-success" ng-click="notify('success')">Notify Success</button>
            <button class="btn btn-danger" ng-click="notify('danger')">Notify Danger</button>
            <button class="btn btn-warning" ng-click="notify('warning')">Notify Warning</button>
            <button class="btn btn-info" ng-click="notify('info')">Notify Info</button>

            <br><br>
            <a class="link" href="http://tamerayd.in/ngToast/#">Documentation Here</a>
        </div>
    </div>


    


</div>






