<div class="login-wrapper" ng-style="{'height': loginHeight}">
    <div class="login-page">
        <div class="container">
            <div class="login-page-header">
                <div class="xs-pt-20">
                    <a class="link" ui-sref="login"><i class="fa fa-angle-left"></i> &nbsp; Back To Main Site</a>
                </div>
                
                <div class="login-logo xl-mt-100 lg-mt-20  xs-mt-20  md-mb-30 xs-mb-20 ">
                    <img src="images/login/login-logo.png">
                </div>   
            </div>
            <div class="login-page-content bg-white">
                <div class="login-content md-p-50 sm-p-40 xs-p-30 text-center">
                    <div ng-if="forgotPasswordSent==false">

                        <img src="images/icon-alert.svg" width="60px">
                        <h4 class="text-bold">Forgot your password?</h4>
                        <p class="xs-mb-0 xs-mt-20 text-grey">Enter the email address you registered with and we'll send you instructions on how to reset it.</p>
                        
                        <div class="xs-mt-30">
                            <form name="reset" ng-submit="forgotPassword()">
                                <div class="row">
                                    <div class="col-lg-6 lg-mb-0 xs-mb-10 lg-pr-5">
                                        <div class="form-group xs-mb-0 text-left" ng-class="{'has-error': reset.email.$invalid && !reset.email.$pristine || emailStatus}">
                                            <input ng-attr-type="email" ng-model="forgotPass.email" name="email" ng-attr-placeholder="Email" class="form-control" required>
                                            <span ng-if="reset.email.$invalid && !reset.email.$pristine" class="help-block small xs-mb-0">Please enter a valid email</span>
                                            <span class="help-block small xs-mb-0" ng-if="emailStatus=='not_exist'">This email is not been registered.</span>
                                            <span class="help-block small xs-mb-0" ng-if="emailStatus=='invalid'">Please enter a valid email</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 lg-pl-5">
                                        <button class="btn btn-primary form-control" ng-attr-type="submit" ng-disabled="reset.$invalid">Send Reset Instructions </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div ng-if="forgotPasswordSent==true">
                        <div class="alert-circle alert-success"><i class="fa fa-check"></i></div>
                        <h4 class="text-bold l-h-1-5">An email has been sent to <span ng-bind="forgotPass.email"></span></h4>
                        <p class="xs-mb-0 xs-mt-20 text-grey">We have emailed you the instructions to reset your password. If you do not receive the email, please check your spam folder or <a ng-click="liveChat()" class="text-info pointer">contact us </a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-page-footer">
            <div class="login-footer">
                <div class="text-center xs-p-20">
                    <p class="text-grey xs-mb-0">....</p>
                </div>
                <div class="login-background">
                    <img src="images/login/login-curve-2.png">
                </div>
            </div>
        </div>
    </div>
</div>


